@page "/"
@inherits LayoutComponentBase

<style>
    body {
        background-color: #f8f9fa; /* Light background color */
        color: #343a40; /* Text color */
        font-family: 'Arial', sans-serif; /* Specify a font family */
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
    }

    .section-container {
        text-align: center;
        margin: 20px; /* Add margin for each section */
        padding: 20px; /* Add padding for each section */
        background-color: #ffffff; /* White background color */
        border-radius: 8px; /* Add rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    }

    h1, h2, p {
        color: #007bff; /* Header and paragraph color */
    }

    ul {
        padding: 0; /* Remove default padding for unordered lists */
    }

    li {
        margin-bottom: 8px; /* Add spacing between list items */
    }
</style>

<div class="section-container">
    <h1 class="display-4">Welcome to My Portfolio</h1>
    <p>Explore the journey of Ezeji Udoka Akans, Backend Engineer</p>
</div>

<div class="section-container">
    <h2>Professional Summary</h2>
    <p>
        Greetings! I am Ezeji Udoka Akans, a decisive Backend Engineer with a proven track record in tackling and resolving intricate software challenges. My passion lies in designing and implementing innovative features to enhance system performance and functionality. As a proactive problem-solver, I possess exceptional critical thinking and collaboration skills.
    </p>
</div>

<div class="section-container">
    <h2>Experience</h2>
    <ul class="no-bullets">
        <li>Back End Developer at Sterling Bank, Jun 2023 - Present</li>
        
    </ul>
</div>

<div class="section-container">
    <h2>Education</h2>
    <ul class="no-bullets">
        <li>Bachelor's degree in Industrial Chemistry, Imo State University, 2012 - 2016</li>
        <li>Certificate in Computer Application to Business Transaction, UNIQUE COMPUTER INSTITUTE OWERRI, 2012</li>
    </ul>
</div>

<div class="section-container">
    <h2>Technologies</h2>
    <ul class="no-bullets">
        <li>C#</li>
        <li>ASP.NET Core</li>
        <li>Entity Framework</li>
       
    </ul>
</div>

<div class="section-container">
    <h2>Certifications</h2>
    <ul class="no-bullets">
        <li>Scrum Fundamentals Certified (SFC®) - SCRUMstudy, Oct 2022 - Nov 2022</li>
        
    </ul>
</div>
