@page "/"
@inherits LayoutComponentBase

<style>
    .no-bullets {
        list-style: none;
    }

    .section-container {
        text-align: center;
    }
</style>

<div class="section-container">
    <h1 class="display-4">Welcome to My Portfolio</h1>
    <p>Explore the journey of Ezeji Udoka Akans, Backend Engineer</p>
</div>

<div class="section-container">
    <h2>Professional Summary</h2>
    <p>
        Greetings! I am Ezeji Udoka Akans, a decisive Backend Engineer with a proven track record in tackling and resolving intricate software challenges. My passion lies in designing and implementing innovative features to enhance system performance and functionality. As a proactive problem-solver, I possess exceptional critical thinking and collaboration skills.
    </p>
</div>

<div class="section-container">
    <h2>Experience</h2>
    <ul class="no-bullets">
        <li>Back End Developer at Sterling Bank, Jun 2023 - Present</li>
        <!-- Add more experience entries as needed -->
    </ul>
</div>

<div class="section-container">
    <h2>Education</h2>
    <ul class="no-bullets">
        <li>Bachelor's degree in Industrial Chemistry, Imo State University, 2012 - 2016</li>
        <li>Certificate in Computer Application to Business Transaction, UNIQUE COMPUTER INSTITUTE OWERRI, 2012</li>
    </ul>
</div>

<div class="section-container">
    <h2>Technologies</h2>
    <ul class="no-bullets">
        <li>C#</li>
        <li>ASP.NET Core</li>
        <li>Entity Framework</li>
        <!-- Add more technologies as needed -->
    </ul>
</div>

<div class="section-container">
    <h2>Certifications</h2>
    <ul class="no-bullets">
        <li>Scrum Fundamentals Certified (SFC®) - SCRUMstudy, Oct 2022 - Nov 2022</li>
        <!-- Add more certifications as needed -->
    </ul>
</div>
